.header {
  background-color: dodgerblue;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.493);
  color: white;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.header nav {
  display: flex;
  justify-content: space-between;
}

.header nav button {
  background: none;
  border: none;
}

i {
  color: white;
  font-size: 18px;
  width: 40px;
}
