.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.profile img {
  margin-top: 2rem;
  width: 100px;
}

.profile button {
  background-color: dodgerblue;
  border: none;
  border-radius: 5px;
  color: white;
  margin: 2px;
  padding: 10px;
  width: 150px;
}

.profile button:hover {
  background-color: #c9c9ca;
}
