.finish-button {
  background-color: dodgerblue;
  border: none;
  border-radius: 5px;
  bottom: 0;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 5px;
  position: fixed;
  width: 100vw;
}

.finish-button:disabled {
  background-color: rgb(121, 188, 255);
  color: rgba(255, 255, 255, 0.747);
}

.recipe-card input {
  appearance: none;
  height: 20px;
  margin-right: 30px;
  outline: none;
  position: relative;
  top: 0;
  transition: 0.5s;
  width: 20px;
}

.recipe-card input:before {
  border: 2px solid black;
  box-sizing: border-box;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: 0.5s;
  width: 100%;
}

.recipe-card input:checked:before {
  border-color: green;
  border-left: none;
  border-top: none;
  transform: rotate(45deg) translate(5px, -10px);
  transition: 0.5s;
  width: 25px;
}
